
.mainServiceContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid green;
  gap: 10px;
}


/* @media screen and (max-width: 1300px) {
 
  
  
} */

