.mainCardContainer{
    border: 2px solid fuchsia;
    width: 350px;
    height: 450px;
}

.imageServicioContainer {
    width: 100%;
    height: 250px;
}
.imageServicioContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



.tituloPrincipalServicio{
    width: 100%;
}
  

.selectSimpleContainer{
    width: 100%;
}



@media screen and (max-width: 390px) {
 
    .mainCardContainer{
        width: 95%;
        height: auto;
    }
  
} 